Crossover.Web.Security/Service References/Crossover.Service.Ldap.Proxy/LdapService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6441/LdapService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Crossover.Service.Ldap" />
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Crossover.Service.Ldap" minOccurs="0" name="AuthenticateResult" nillable="true" type="q1:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Crossover.Service.Ldap" minOccurs="0" name="GetUserInfoResult" nillable="true" type="q2:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAuthenticated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAuthenticatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAuthenticatedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwordHash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Crossover.Service.Ldap" minOccurs="0" name="RegisterResult" nillable="true" type="q3:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>